:root{
    --var-white: #fff;
    --var-primary-color: #0D1117;
    --var-secundary-color: #161B22; 
}

#newClientBtn{
    padding: 10px;
    background-color: var(--var-secundary-color);
    color: var(--var-white);    
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
}

#newClientBtn:active {
    box-shadow: none;
    transform: translateY(2px); /* Moves the button 2 pixels down. */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) inset;
}

.close-button {
    /* Reset */
    background-color: transparent;
    border-color: transparent;

    /* Cursor */
    cursor: pointer;

    /* Size */
    height: 3rem;
    width: 3rem;

    /* Used to position the inner */
    position: relative;
}

.close-button__line {
    /* Background color */
    background-color: #d1d5db;

    /* Position */
    position: absolute;

    /* Size */
    height: 1px;
    width: 100%;
}

.close-button__line--first {
    /* Position */
    left: 0px;
    top: 50%;
    transform: translate(0%, -50%) rotate(45deg);

    /* Size */
    height: 1px;
    width: 100%;
}

.close-button__line--second {
    /* Position */
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%) rotate(45deg);

    /* Size */
    height: 100%;
    width: 1px;
}