@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

body{
    background-color: var(--var-secundary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

:root{
    --var-white: #fff;
    --var-primary-color: #0D1117;
    --var-secundary-color: #161B22; 
    --var-shadow: rgba(0, 0, 0, 0.25);
}

#mainHeader{
    text-align: center;
    background-color: var(--var-primary-color);
    color: var(--var-white);
    padding: 10px;
}

h1::selection, #newClientBtn::selection, a::selection, #mainFooter::selection{
    background-color: var(--var-white);
    color: var(--var-primary-color); /* Analogous colors */
}

main{
    display: flex;
    flex-grow: 1;
    width: 90%;
    background-color: var(--var-white);
    margin: 5vh auto;
    flex-direction: column; /* The data will grow vertically 'cause of that. */
    padding: 50px;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0px 5px 15px var(--var-shadow);
    background-color: var(--var-primary-color);
}

#mainFooter, a{
    text-decoration: none;
    color: var(--var-white);
    font-weight: 800;
}

#mainFooter{
    width: 100;
    text-align: center;
    font-weight: 200;
    padding: 20px;
}

th{
    color: var(--var-white);
    height: 50px;
    background-color: var(--var-secundary-color);
    padding-left: 20px;
    font-size: 1rem; 
}

table{
    text-align: left;
    width: 100%;
    user-select: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@media (max-width: 990px){
    header {
        position: fixed;
        width: 100%;
        align-items: center;
    }
    #mainHeader{
        font-size: 1.5rem;
    }
    main{
        padding: 0;
        margin: 20px 0 0 0;
        width: 100%;
        box-shadow: none;
    }
}
