:root{
    --var-white: #fff;
    --var-primary-color: #0D1117;
    --var-secundary-color: #161B22; 
    --var-shadow: rgba(0, 0, 0, 0.25);
}

td{
    color: var(--var-white);
    height: 50px;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 300;
}

tr{
    transition: 0.3s;
}

tr:hover{
    background-color: var(--var-secundary-color);
}

td:nth-child(5){
    background-color: #0D1117;
}

@media(max-width: 990px){
    table{
        border-spacing: 5px;
    }
    thead{
        display: none;
    }
    table tr{
        box-shadow: 2px 2px 4px var(--var-shadow);
    }
    table td:not(:first-child){
        display: flex;
        justify-content: left;
        padding: 0 20px;
    }

    table td{
        margin: 10px 0;
        align-items: center;
        justify-content: center;
        
    }

    table tr:hover{
        background-color: inherit;
    }
}

